#ft-contact-page>div>div>div>div>div>form>div>div {
    margin: 0 0 1rem 0;
}

.select2-container .select2-selection--single {
    background-color: #f0f1f3;
    border-color: #f0f1f3;
    height: 50px
}

.select2-container .select2-selection--single:focus {
    outline: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border: 1px solid #aaa
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    color: #b4b4b4;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 15px
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    top: 0;
    right: 15px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #000 transparent
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: 0
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #71bfe4
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #444;
    color: #fff
}

.select2-results__option {
    font-size: 15px
}

html {
    overflow: hidden;
}

#ft-contact-page>div>div>div>div>div>form>div>div.col-12 {
    margin-bottom: 1rem;
}