.ft-thx-sponsor-slider.ft-booking-form-content.position-relative.py-0.pt-3 .ft-item-innerbox {
    border-top: 5px solid #FAFAFA;
    border-radius: 2.5px;
}

div#separator {
    height: 100vh;
    background: #f7c243;
    position: absolute;
    z-index: 100;
    width: 125vw;
    top: -125vh;
    transition: 1s top cubic-bezier(0, 1, 1, 0);
}

div#contenair {
    transition: .75s height;
    overflow: hidden;
    padding-top: 67px;
}

body>#content>section {
    top: 0;
    transition: 0s top .375s;
    width: 100vw;
}

.activeted>div#top>a#closeSpice {
    display: block;
}

div#top>a#closeSpice {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 10px;
}

div#top>a#closeSpice:before,
div#top>a#closeSpice:after {
    content: "";
    display: block;
    height: 50px;
    border: 1px solid #f7e626;
    position: absolute;
    left: 50%;
    margin-top: -5px;
}

div#top>a#closeSpice:before {
    transform: rotate(-45deg);
}

div#top>a#closeSpice:after {
    transform: rotate(45deg);
}

div#top>a#closeSpice:hover {
    background: #FFF2;
}

.forms-wrapper.d-flex.align-items-center.overflow-hidden.flex-column {
    height: 500px;
}

section#ft-thx-banner {
    min-height: 100vh;
}

#ft-thx-banner > div.container > div > div > div:nth-child(2) > div > div > form {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#register > div.register-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    right:0;
    transition: 1s right;
}

#register > div.register-wrapper > div.row {
    min-width: 100%;
    position: relative;
    left: 10px;
}

#register > div.register-wrapper > div.row .sub-btn {
    display: flex;
}
.forms-wrapper.d-flex.align-items-center.overflow-hidden.flex-column h3 {
    color: brown;
    border-bottom: 2px solid;
}